@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    São Paulo - Brasil<br />
    São Paulo<br />
    <abbr title="Phone">P:</abbr>
    +51 11 9999-99999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:teste@example.com">teste@example.com</a><br />
</address>
